.grid {
  display: flex;
}

.grid.single {
  flex-direction: column;
  margin-top: 2rem;
}

.grid img {
  border-radius: 6px;
}

@media (max-width: 800px) {
  .grid {
    flex-direction: column;
    padding-inline: 1rem;
  }

  .skeleton {
    flex: none;
    aspect-ratio: auto;
    max-height: 400px;
  }

  .details {
    overflow-y: auto;
  }

  .skeleton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .details {
    padding: 1rem !important;
  }

  .info {
    justify-content: space-between;
  }

  .info *::before {
    display: none;
  }
}

.details {
  border-radius: 0 0.2rem 0.2rem 0;
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  flex: 1;
}

.single .details {
  padding: 1rem 0 0 0;
}

.skeleton {
  flex: 2;
  aspect-ratio: 1 / 1; /* define a forma */
  width: 100%;
}

.details > * {
  grid-column: 1 / -1;
}

.author {
  display: flex;
  justify-content: space-between;
  color: #333;
  opacity: 0.5;
}

.author a:hover {
  text-decoration: underline;
}
.acessos::before {
  content: "";
  background: url(../Assets/visualizacao-black.svg);
  height: 10px;
  width: 16px;
  display: inline-block;
  margin-right: 6px;
}

.info {
  font-weight: bold;
  display: flex;
  gap: 2rem;
  font-size: 16px;
}

.info *::before {
  content: "|";
  margin-right: 4px;
  font-size: 24px;
}

.skeleton,
.details {
  min-width: 0;
}
