.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  overflow-y: auto;
}

.comment {
  margin-bottom: 8px;
  word-break: break-all;
}

.section {
  overflow-y: auto;
}
