.form {
  display: flex;
  gap: 4px;
  justify-content: space-around;
  padding: 1rem;
}

.form textarea {
  border: none;
  background-color: #eee;
  resize: none;
  padding: 0.8rem;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.form textarea:focus,
.form textarea:hover {
  box-shadow:
    0 0 0 3px #fea,
    0 0 0 4px #fb1;

  background: white;
}

.form button {
  border: none;
  background-color: transparent;
}

svg {
  color: #333333;
  cursor: pointer;
}

svg:focus,
svg:hover {
  color: #fea;
  stroke: #fb1;
}

svg:focus g,
svg:hover g {
  animation: latir 0.6s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
